.form {
    display: flex;
    flex-direction: column;
    gap: 43.5px;

    &__tilte {
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.05em;
        // color: $color-grey-700;
        display: block;

    }

    &__input {
        // color: $color-grey-500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1em;
        padding: 9px 0;
        display: block;
        width: 100%;
        border-bottom: 1px solid $color-black;
        cursor: pointer;

        &:focus {
            border-bottom: 1px solid #F9B640;
        }

        &:hover {
            border-bottom: 1px solid #F9B640;
        }

        &::placeholder {
            // color: $color-grey-500;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.1em;
        }
    }

    &__btn {
        background: $color-orange;
        color: $color-white;

        @media (max-width: $tablet) {
            margin: 0 auto;
        }
    }
}