// Variables
@import './variables/media';
@import './variables/color';
@import './variables/fonts';

// Global Style
@import './global/resets.scss';
@import './global/global.scss';
// Global Style End

// Common section
@import './common/header.scss';
@import './common/footer.scss';
@import './common/form.scss';
// Common section End

// Components
@import './components/button.scss';
// Components End

// Pages Style
@import './pages/home.scss';
// Pages Style End